**수 이어 쓰기 1**

In [5]:
# 1부터 N까지의 수를 이어 썼을때 이 수의 길이를 출력하는 함수를 만들자
def solution(N):
    answer = 0
    for i in range(1,N+1):
        answer = answer + len(str(i))
    return answer

In [6]:
solution(10)

11

In [7]:
# for 문을 안쓰고 바로 숫자들을 합치고, 그 숫자를 카운트 하는 방식은?
def solution(N):
    oneToN = ''.join(range(1,N+1)).astype(str)
    answer = len(oneToN)

In [17]:
numbers = [1,2,3]
numbers // 10

TypeError: unsupported operand type(s) for //: 'list' and 'int'

**숫자 N을 1,2,3의 합으로 나타내기**

In [18]:
# 숫자 N 을 1,2,3의 합으로 나타내는 방법
# 3 은 
# (1,1,1)
# (1,2)
# (2,1)
# (3)
# 세가지의 방법으로 나타낼 수 있다.

# 숫자 N은 먼저 N개의 1의 합으로 나타낼 수 있다 (1,1,1,1,1, ... ,1) 
1 2   3     4
1 1+1 1+1+1 1+1+1+1
ㅋ          1+2+1
  2   1+2   1+3
      2+1   2+2
      3     3+1
            4

SyntaxError: invalid syntax (3642063649.py, line 10)

**예산 정하기**

In [62]:
def solution(d, budget): 
    # 가장 무식한 방법
    sorted_d = sorted(d,reverse=True)
    for i in range(len(d)):
        if sum(sorted_d[i:])< budget+1 :
            answer = len(sorted_d)-i
            break
        
    return answer

In [63]:
d = [1,2,3]
budget = 5

In [64]:
solution(d,budget)

2

In [65]:
sum(d)<budget+1

False