In [19]:
import pandas as pd
import numpy as np

In [20]:
# 전국구 캠핑장의 데이터를 합쳐놓은 데이터

In [21]:
df = pd.read_csv('food.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398640 entries, 0 to 398639
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  398640 non-null  int64
 1   name        398640 non-null  object
 2   upjong      398640 non-null  object
 3   address     398640 non-null  object
 4   category    398640 non-null  object
 5   rating      398640 non-null  float64
 6   write_id    398640 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 21.3+ MB

In [23]:
df['write_id'].value_counts()

5ea173de8f87a842bc3b60f8    225
5be00b9869e141a0de1eae3e    131
5deef5038f87a842bced4f0c    117
5c9c11438f865fe934386d66    114
5da97d648f87a842bca35ce9    111
                           ...
5e14543c8f87a842bc1e7131      1
5efe5db368401871104e89a8      1
5d9f41e08f87a842bc1657af      1
5ec3f2018f87a842bc6a2f13      1
5e5cb4848f87a842bcf753a4      1
Name: write_id, Length: 213420, dtype: int64

In [24]:
df

,Unnamed: 0,name,upjong,address,category,rating,write_id
0,0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
1,4,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5c381b1c5745ec219264a906
2,8,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5df37ace8f87a842bc889e8c
3,12,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5d4fac00a2b372d9cf8c57be
4,16,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5f05c9d4699d39675d9e8551
...,...,...,...,...,...,...,...
398635,1935080,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.0,5e27bd1c8f87a842bcae672c
398636,1935081,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5da09bf28f87a842bca15a74
398637,1935082,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5e5cb4848f87a842bcf753a4
398638,1935083,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,3.0,5e4c6ac98f87a842bc30aab8
398639,1935084,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5e7628e68f87a842bcfb6dbc

In [25]:
# 협업 필터링 추천 시스템에 필요한 항목만 선택한다.

In [26]:
df = df[['name','write_id','rating']]

In [27]:
df.isnull().sum()

name        0
write_id    0
rating      0
dtype: int64

In [28]:
df

          name                  write_id  rating
0          설레임  5dee59b58f87a842bc875a3a     5.0
1          설레임  5c381b1c5745ec219264a906     5.0
2          설레임  5df37ace8f87a842bc889e8c     5.0
3          설레임  5d4fac00a2b372d9cf8c57be     5.0
4          설레임  5f05c9d4699d39675d9e8551     5.0
...        ...                       ...     ...
398635  한옥마루카페  5e27bd1c8f87a842bcae672c     4.0
398636  한옥마루카페  5da09bf28f87a842bca15a74     5.0
398637  한옥마루카페  5e5cb4848f87a842bcf753a4     5.0
398638  한옥마루카페  5e4c6ac98f87a842bc30aab8     3.0
398639  한옥마루카페  5e7628e68f87a842bcfb6dbc     5.0

[398640 rows x 3 columns]

In [29]:

df['rating'].astype('float')

KeyError: 'Total_Review'

In [30]:
# 하나의 캠핑장의 여러개의 리뷰는 중복이 됨으로 삭제한다.

In [16]:
df = df.drop_duplicates()

In [17]:
df = df.reset_index()
df = df.drop('index',axis=1)

In [18]:
df

          name                  write_id  rating
0          설레임  5dee59b58f87a842bc875a3a     5.0
1          설레임  5c381b1c5745ec219264a906     5.0
2          설레임  5df37ace8f87a842bc889e8c     5.0
3          설레임  5d4fac00a2b372d9cf8c57be     5.0
4          설레임  5f05c9d4699d39675d9e8551     5.0
...        ...                       ...     ...
398635  한옥마루카페  5e27bd1c8f87a842bcae672c     4.0
398636  한옥마루카페  5da09bf28f87a842bca15a74     5.0
398637  한옥마루카페  5e5cb4848f87a842bcf753a4     5.0
398638  한옥마루카페  5e4c6ac98f87a842bc30aab8     3.0
398639  한옥마루카페  5e7628e68f87a842bcfb6dbc     5.0

[398640 rows x 3 columns]

In [15]:
df['ID']=df['User_ID']

In [16]:
for i in range(len(df)):
    df['ID'][i]='id'+str(i)

/var/folders/zz/lwjzp_r130b4y7w9qcwwkfhr0000gn/T/ipykernel_1675/94061681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ID'][i]='id'+str(i)

In [17]:
df['ID'].value_counts()

id0        1
id44219    1
id44189    1
id44190    1
id44191    1
          ..
id22105    1
id22106    1
id22107    1
id22108    1
id66297    1
Name: ID, Length: 66298, dtype: int64

In [18]:
User_ID_values = df['User_ID'].unique().tolist()

In [19]:
for value in User_ID_values:
    globals()[f'id{value}'] = df[df['User_ID']==value]
    globals()[f'id{value}'].index=range(0,len(globals()[f'id{value}']))
    for i in range(len(globals()[f'id{value}'])):
        for j in range(i+1,len(globals()[f'id{value}'])):
            if (globals()[f'id{value}']['User_ID'][i] == globals()[f'id{value}']['User_ID'][j]) and (globals()[f'id{value}']['Total_Review'][i] == globals()[f'id{value}']['Total_Review'][j]) and (globals()[f'id{value}']['User_Avg_Ratings'][i] == globals()[f'id{value}']['User_Avg_Ratings'][j]):
                globals()[f'id{value}']['ID'][j] = globals()[f'id{value}']['ID'][i]

/var/folders/zz/lwjzp_r130b4y7w9qcwwkfhr0000gn/T/ipykernel_1675/689223304.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[f'id{value}']['ID'][j] = globals()[f'id{value}']['ID'][i]

In [20]:
b=pd.DataFrame()
for i in User_ID_values:
    b=b.append(globals()[f'id{i}'])

In [21]:
b

           Name  User_ID Total_Review User_Avg_Ratings  Rating       ID
0         난지캠핑장  abs****          605              5.0     5.0      id0
1       영월스타글램핑  abs****            5              4.1     5.0  id10489
2         난지캠핑장  abs****          605                5     5.0  id14345
3   천안무지개카라반캠핑장  abs****            3                5     5.0  id18785
4           스톤힐  abs****            7              4.6     5.0  id41847
..          ...      ...          ...              ...     ...      ...
0     협재해수욕장야영장     눈나무숲          897              4.8     5.0  id66293
0     협재해수욕장야영장      가시리          111                4     5.0  id66294
0     마레보리조트카라반   kimnew          710              4.7     5.0  id66295
0     마레보리조트카라반     삐요삐요          110              4.1     4.0  id66296
0         원앙캠핑장       사내          545              3.4     2.0  id66297

[66295 rows x 6 columns]

In [22]:
b=b.reset_index()

In [23]:
b

,index,Name,User_ID,Total_Review,User_Avg_Ratings,Rating,ID
0,0,난지캠핑장,abs****,605,5.0,5.0,id0
1,1,영월스타글램핑,abs****,5,4.1,5.0,id10489
2,2,난지캠핑장,abs****,605,5,5.0,id14345
3,3,천안무지개카라반캠핑장,abs****,3,5,5.0,id18785
4,4,스톤힐,abs****,7,4.6,5.0,id41847
...,...,...,...,...,...,...,...
66290,0,협재해수욕장야영장,눈나무숲,897,4.8,5.0,id66293
66291,0,협재해수욕장야영장,가시리,111,4,5.0,id66294
66292,0,마레보리조트카라반,kimnew,710,4.7,5.0,id66295
66293,0,마레보리조트카라반,삐요삐요,110,4.1,4.0,id66296
66294,0,원앙캠핑장,사내,545,3.4,2.0,id66297

In [24]:

b[['Name','Rating','ID']].to_csv('./data/bbb.csv')

In [40]:
df_review = pd.read_csv('./data/bbb.csv')

In [41]:
df_review = df_review[['Name','Rating','ID']]

In [42]:
df_review['ID'].value_counts()

id3424     21
id4151     20
id10383    16
id2106     16
id900      16
           ..
id13537     1
id13058     1
id13059     1
id13060     1
id66297     1
Name: ID, Length: 59329, dtype: int64

In [43]:
df1=df_review['ID'].value_counts()

In [44]:
df2 = pd.DataFrame(df1)

In [45]:
more_than_5 = df2[df2['ID']>5].index

In [46]:
more_than_5

Index(['id3424', 'id4151', 'id10383', 'id2106', 'id900', 'id10763', 'id15776',
       'id3332', 'id4503', 'id4654', 'id10018', 'id5773', 'id14443', 'id2642',
       'id17942', 'id2965', 'id2018', 'id35303', 'id20490', 'id1851', 'id4229',
       'id16396', 'id38783', 'id6188', 'id3085', 'id14961', 'id1596', 'id5096',
       'id8556', 'id4466', 'id2920', 'id38703', 'id9564', 'id3060', 'id28961',
       'id29073', 'id31986', 'id15779', 'id40874', 'id41059', 'id961',
       'id13713', 'id4142', 'id12406', 'id946', 'id23425', 'id9181', 'id38625',
       'id18174', 'id20953', 'id14681', 'id40803', 'id15518', 'id31138',
       'id17031', 'id16589', 'id2268', 'id6487', 'id33132', 'id1244',
       'id34424', 'id16880', 'id10349', 'id27424', 'id2139', 'id14752',
       'id3191', 'id7246', 'id48948', 'id54946', 'id23034', 'id16151',
       'id17404'],
      dtype='object')

In [47]:
df3 = df_review.set_index('ID')   
df4 = df3.loc[more_than_5]

In [48]:
df4

                    Name  Rating
ID
id3424            명돈골캠핑장     5.0
id3424             포안캠핑장     5.0
id3424       학암포 퍼스트 카라반     5.0
id3424            아잘리아그린     5.0
id3424             수덕캠핑장     5.0
...                  ...     ...
id17404  서대산드림캠핑파크&오토캠핑장     5.0
id17404  서대산드림캠핑파크&오토캠핑장     4.0
id17404            수덕캠핑장     5.0
id17404             바인밸리     5.0
id17404            다인캠핑장     5.0

[604 rows x 2 columns]

In [49]:
df4.reset_index()

          ID             Name  Rating
0     id3424           명돈골캠핑장     5.0
1     id3424            포안캠핑장     5.0
2     id3424      학암포 퍼스트 카라반     5.0
3     id3424           아잘리아그린     5.0
4     id3424            수덕캠핑장     5.0
..       ...              ...     ...
599  id17404  서대산드림캠핑파크&오토캠핑장     5.0
600  id17404  서대산드림캠핑파크&오토캠핑장     4.0
601  id17404            수덕캠핑장     5.0
602  id17404             바인밸리     5.0
603  id17404            다인캠핑장     5.0

[604 rows x 3 columns]

In [50]:
df4['Name'].value_counts()

럭셔리글램핑 W 풀빌라     18
통제영 오토캠핑장        14
황매산미리내파크오토캠핑장    13
한밤 솔담길 오토캠핑장     11
수덕캠핑장            10
                 ..
대현캠핑장             1
캠누리오토캠핑장          1
텐타우스 카라반글램핑       1
월드니스 오토캠핑장        1
문경수예리오토캠핑장        1
Name: Name, Length: 199, dtype: int64

In [6]:
df=df[['name','rating','write_id']]

In [7]:
df

          name  rating                  write_id
0          설레임     5.0  5dee59b58f87a842bc875a3a
1          설레임     5.0  5c381b1c5745ec219264a906
2          설레임     5.0  5df37ace8f87a842bc889e8c
3          설레임     5.0  5d4fac00a2b372d9cf8c57be
4          설레임     5.0  5f05c9d4699d39675d9e8551
...        ...     ...                       ...
398635  한옥마루카페     4.0  5e27bd1c8f87a842bcae672c
398636  한옥마루카페     5.0  5da09bf28f87a842bca15a74
398637  한옥마루카페     5.0  5e5cb4848f87a842bcf753a4
398638  한옥마루카페     3.0  5e4c6ac98f87a842bc30aab8
398639  한옥마루카페     5.0  5e7628e68f87a842bcfb6dbc

[398640 rows x 3 columns]

In [9]:
# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = df.pivot_table('rating', index='write_id', columns='name')
ratings_matrix

name,(주)삼다도횟집,09학번,1.5커피,11시11분,168테우카페,17번가,1950김프로,1974한식뷔페,19티성산일출봉점,1석2조,...,흥부네장어갈비,흥부네정식,흥수아구찜,희랑김밥,희야국수,희야네식당,히비,히아담,힐링푸드,힘찬장어
write_id,,,,,,,,,,,,,,,,,,,,,
5b61c7658f8242cb2a1b1028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5b62c91cd898db2e71efcc59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5b62e6c46daf19a0c8d33997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5b62e74c7c6c9d5734357075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5b62e756b290f31ff8ea61dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61691a020efbb41308ae9e22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61691b18552a695b802cf8ed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616964e25ced4098c30b5f4d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616a6babf4ff9c12c7d011c2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616a733ecf7fda6d69a812bd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ratings_matrix.isnull().sum()

name
(주)삼다도횟집    213410
09학번        213417
1.5커피       213419
11시11분      213363
168테우카페     213410
             ...
희야네식당       213405
히비          213336
히아담         213411
힐링푸드        213415
힘찬장어        213417
Length: 7311, dtype: int64

In [53]:
# NaN 값을 모두 0 으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix

Name,가람펜션,가평명지산카라반글램핑,강릉 노추산 힐링캠프,경주 오아시스 글램핑,경주힐링캠프,곡성 키즈글램핑,곡성청소년야영장,굼벵이캠핑농원 오토캠핑장,글램핑스토리,글램핑앤카라반,...,합천리컴펜글,해마루오토캠핑장,호두나무캠핑장,홍성 세울터 오토캠핑장,홍천고인돌오토캠핑장,황매산미리내파크오토캠핑장,횡성 온새미로 펜션&캠핑장,힐링스토리 펜션&캠핑장,힐링아일랜드 글램핑캠핑장,힐포인트 키친
ID,,,,,,,,,,,,,,,,,,,,,
id10018,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
id10349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
id10383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
id10763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
id12406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id900,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
id9181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
id946,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
id9564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
id961,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
# 사용자-아이템 행렬 데이터를 아이템-사용자 행렬 데이터로 변환
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

ID,id10018,id10349,id10383,id10763,id12406,id1244,id13713,id14443,id14681,id14752,...,id5773,id6188,id6487,id7246,id8556,id900,id9181,id946,id9564,id961
Name,,,,,,,,,,,,,,,,,,,,,
가람펜션,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
가평명지산카라반글램핑,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,4.0
강릉 노추산 힐링캠프,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [55]:
ratings_matrix_T.shape

(199, 73)

In [56]:
# 아이템 간 코사인 유사도로 아이템 유사도 산출
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity() 로 반환된 넘파이 행렬을 영화명을 매핑하여 DataFrame으로 변환
item_sim_df = pd.DataFrame(data = item_sim, index = ratings_matrix.columns,
                           columns = ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head()

(199, 199)

Name,가람펜션,가평명지산카라반글램핑,강릉 노추산 힐링캠프,경주 오아시스 글램핑,경주힐링캠프,곡성 키즈글램핑,곡성청소년야영장,굼벵이캠핑농원 오토캠핑장,글램핑스토리,글램핑앤카라반,...,합천리컴펜글,해마루오토캠핑장,호두나무캠핑장,홍성 세울터 오토캠핑장,홍천고인돌오토캠핑장,황매산미리내파크오토캠핑장,횡성 온새미로 펜션&캠핑장,힐링스토리 펜션&캠핑장,힐링아일랜드 글램핑캠핑장,힐포인트 키친
Name,,,,,,,,,,,,,,,,,,,,,
가람펜션,1.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.390434,0.0,0.000000,0.0,0.0,0.000000,0.0,0.353553,0.25,0.0
가평명지산카라반글램핑,0.0,1.000000,0.336861,0.210538,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.123037,0.0,0.000000,0.00,0.0
강릉 노추산 힐링캠프,0.0,0.336861,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.0
경주 오아시스 글램핑,0.0,0.210538,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.260643,0.0,0.0,0.000000,0.0,0.000000,0.25,0.0
경주힐링캠프,0.0,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.0

In [57]:
item_sim

array([[1.        , 0.        , 0.        , ..., 0.35355339, 0.25      ,
        0.        ],
       [0.        , 1.        , 0.33686077, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.33686077, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.35355339, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.25      , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [58]:
# (주)어반슬로우시티와 유사도가 높은 상위 6개 추출
item_sim_df["황매산미리내파크오토캠핑장"].sort_values(ascending=False)[:6]

Name
황매산미리내파크오토캠핑장    1.000000
키즈팜 글램핑          0.413228
우니메이카 고령점        0.412657
미산가족오토캠핑장        0.392023
늘솔길캠핑촌           0.357866
아빠랑 놀자           0.337400
Name: 황매산미리내파크오토캠핑장, dtype: float64

In [59]:
item_sim_df["키즈팜 글램핑"].sort_values(ascending=False)[:6]

Name
키즈팜 글램핑          1.000000
에스글램핑            0.707107
오색허브농원 캠핑장       0.707107
클럽프라비다 카라반글램핑    0.707107
하늘숲글램핑           0.707107
프린세스캠프           0.500000
Name: 키즈팜 글램핑, dtype: float64

In [60]:
item_sim_df["아빠랑 놀자"].sort_values(ascending=False)[:6]

Name
아빠랑 놀자      1.00000
캠핑코리아       0.57735
비손농장        0.57735
뉴욕카라반       0.57735
캠누리오토캠핑장    0.57735
보문카라반파크     0.57735
Name: 아빠랑 놀자, dtype: float64

In [61]:
item_sim_df["가람펜션"].sort_values(ascending=False)[:6]

Name
가람펜션             1.0
합천 은하수글램핑&카라반    0.5
솔롱고글램핑           0.5
월드니스 오토캠핑장       0.5
대성글램핑            0.5
텐타우스 카라반글램핑      0.5
Name: 가람펜션, dtype: float64

In [62]:
item_sim_df["호두나무캠핑장"].sort_values(ascending=False)[:6]

Name
호두나무캠핑장               1.000000
숲이조아 오토캠핑장(수영장)&펜션    0.521286
오시유                   0.521286
송도오토캠핑장               0.417029
판앤팜치유정원               0.407056
늘예솔 글램핑               0.368605
Name: 호두나무캠핑장, dtype: float64

In [63]:
item_sim_df["힐링스토리 펜션&캠핑장"].sort_values(ascending=False)[:6]

Name
힐링스토리 펜션&캠핑장    1.000000
아쿠아베이           0.816497
대성글램핑           0.707107
솔롱고글램핑          0.707107
써니밸리오토캠핑장       0.707107
늘솔길캠핑장          0.707107
Name: 힐링스토리 펜션&캠핑장, dtype: float64

In [64]:
# 수식을 이용해서 개인화된 예측 평점을 구하는 함수
# 개인화된 예측 평점을 계산하고 정규화
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [65]:
# predict_rating(실제 평점이 들어있는 행렬(2차원 array형태로), 아이템 간 유사도가 들어있는 행렬(2차원 array형태로))
# 실제 평점 저장 변수 : ratings_matrix.values
# 아이템 간 유사도 저장 변수 : item_sim_df.values
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)

# 데이터프레임
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)
print(ratings_pred_matrix.shape)
ratings_pred_matrix.head(3)

(73, 199)

Name,가람펜션,가평명지산카라반글램핑,강릉 노추산 힐링캠프,경주 오아시스 글램핑,경주힐링캠프,곡성 키즈글램핑,곡성청소년야영장,굼벵이캠핑농원 오토캠핑장,글램핑스토리,글램핑앤카라반,...,합천리컴펜글,해마루오토캠핑장,호두나무캠핑장,홍성 세울터 오토캠핑장,홍천고인돌오토캠핑장,황매산미리내파크오토캠핑장,횡성 온새미로 펜션&캠핑장,힐링스토리 펜션&캠핑장,힐링아일랜드 글램핑캠핑장,힐포인트 키친
ID,,,,,,,,,,,,,,,,,,,,,
id10018,1.365354,0.320567,0.000000,0.461022,0.00000,0.128177,0.607643,0.200466,0.000000,0.062021,...,0.479413,0.157107,0.341491,0.413641,0.0,0.243948,0.44852,0.233631,0.229281,0.509490
id10349,0.066786,0.085825,0.000000,0.000000,0.00000,0.387536,0.000000,0.278645,0.000000,0.156910,...,0.000000,0.000000,0.262034,0.000000,0.0,0.244991,0.00000,0.000000,0.074177,0.223250
id10383,0.220393,0.329096,0.341727,0.268888,0.44024,0.213022,0.000000,0.153166,0.679059,0.344009,...,0.398861,0.499452,0.232277,0.627546,0.0,1.490977,0.00000,0.310978,0.293865,0.244558

In [66]:
ratings_pred_matrix['가람펜션'].head(30)

ID
id10018    1.365354
id10349    0.066786
id10383    0.220393
id10763    0.350600
id12406    0.081523
id1244     0.177817
id13713    0.936256
id14443    0.130081
id14681    0.126545
id14752    0.000000
id14961    0.240327
id15518    0.107416
id15776    0.414435
id15779    0.156470
id1596     0.389929
id16151    0.060108
id16396    0.157932
id16589    0.124432
id16880    0.042966
id17031    0.042966
id17404    0.267707
id17942    0.296800
id18174    0.269270
id1851     0.181119
id2018     0.167904
id20490    1.267838
id20953    0.074420
id2106     0.212420
id2139     0.049053
id2268     0.042966
Name: 가람펜션, dtype: float64

In [67]:
# 예측 평가 지표인 MSE를 계산하는 함수 생성

from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 를 구함. 
def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten() # 데이터가 많으면 메모리 관리 측면에서 유리
    print(len(pred))
    print(len(actual))
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 인접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))

586
586
아이템 기반 모든 인접 이웃 MSE:  9.63277699888744

In [68]:
# 사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트 반환하는 함수

def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape) # 모든 사용자에 대해 모든 영화의 평점 예측을 진행

    # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행. 
    for col in range(ratings_arr.shape[1]): # [1] : 열별로 for문 수행
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환

        if col==2 :
            break
        print(col)
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]] # argsort:값이 큰 것들을 정렬하고 그 값의 '인덱스'를 돌려줌
        print(top_n_items)
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items])) 
            print("userID  ",row+1, "의")
            print(str(col)+"번 index 캠핑장 예측",pred[row,col])
    return pred

In [69]:
ratings_pred = predict_rating_topsim(ratings_matrix.values , item_sim_df.values, n=20)

0
[array([  0, 185, 102, 126,  23, 164,  17,  86, 189, 183,  44,  62, 153,
       167, 180, 196, 178, 111,  80,  66])]
userID   1 의
0번 index 캠핑장 예측 1.5118773246298576
userID   2 의
0번 index 캠핑장 예측 0.0
userID   3 의
0번 index 캠핑장 예측 0.0
userID   4 의
0번 index 캠핑장 예측 0.0
userID   5 의
0번 index 캠핑장 예측 0.0
userID   6 의
0번 index 캠핑장 예측 0.0
userID   7 의
0번 index 캠핑장 예측 0.9801515449806828
userID   8 의
0번 index 캠핑장 예측 0.0
userID   9 의
0번 index 캠핑장 예측 0.0
userID   10 의
0번 index 캠핑장 예측 0.0
userID   11 의
0번 index 캠핑장 예측 0.0
userID   12 의
0번 index 캠핑장 예측 0.0
userID   13 의
0번 index 캠핑장 예측 0.20299603155597074
userID   14 의
0번 index 캠핑장 예측 0.0
userID   15 의
0번 index 캠핑장 예측 0.20299603155597074
userID   16 의
0번 index 캠핑장 예측 0.0
userID   17 의
0번 index 캠핑장 예측 0.0
userID   18 의
0번 index 캠핑장 예측 0.0
userID   19 의
0번 index 캠핑장 예측 0.0
userID   20 의
0번 index 캠핑장 예측 0.0
userID   21 의
0번 index 캠핑장 예측 0.16506766689230098
userID   22 의
0번 index 캠핑장 예측 0.46741240079657614
userID   23 의
0번 index 캠핑장 예측 0.20299603155597074
userID   24 의
0번 index 캠핑장 예측 0.0
userID   25 의
0번 index 캠핑장 예측 0.0
userID   26 의
0번 index 캠핑장 예측 1.6119032947871772
userID   27 의
0번 index 캠핑장 예측 0.0
userID   28 의
0번 index 캠핑장 예측 0.0
userID   29 의
0번 index 캠핑장 예측 0.0
userID   30 의
0번 index 캠핑장 예측 0.0
userID   31 의
0번 index 캠핑장 예측 0.20299603155597074
userID   32 의
0번 index 캠핑장 예측 0.0
userID   33 의
0번 index 캠핑장 예측 0.20299603155597074
userID   34 의
0번 index 캠핑장 예측 0.20299603155597074
userID   35 의
0번 index 캠핑장 예측 0.0
userID   36 의
0번 index 캠핑장 예측 0.0
userID   37 의
0번 index 캠핑장 예측 0.0
userID   38 의
0번 index 캠핑장 예측 0.0
userID   39 의
0번 index 캠핑장 예측 0.0
userID   40 의
0번 index 캠핑장 예측 0.20299603155597074
userID   41 의
0번 index 캠핑장 예측 0.0
userID   42 의
0번 index 캠핑장 예측 0.0
userID   43 의
0번 index 캠핑장 예측 0.17933729241490848
userID   44 의
0번 index 캠핑장 예측 0.0
userID   45 의
0번 index 캠핑장 예측 0.17668536670786128
userID   46 의
0번 index 캠핑장 예측 0.0
userID   47 의
0번 index 캠핑장 예측 0.0
userID   48 의
0번 index 캠핑장 예측 0.11212379651070827
userID   49 의
0번 index 캠핑장 예측 0.0
userID   50 의
0번 index 캠핑장 예측 0.0
userID   51 의
0번 index 캠핑장 예측 0.0
userID   52 의
0번 index 캠핑장 예측 0.0
userID   53 의
0번 index 캠핑장 예측 0.0
userID   54 의
0번 index 캠핑장 예측 0.0
userID   55 의
0번 index 캠핑장 예측 0.20299603155597074
userID   56 의
0번 index 캠핑장 예측 2.8215423127644774
userID   57 의
0번 index 캠핑장 예측 0.0
userID   58 의
0번 index 캠핑장 예측 0.0
userID   59 의
0번 index 캠핑장 예측 0.20299603155597074
userID   60 의
0번 index 캠핑장 예측 0.0
userID   61 의
0번 index 캠핑장 예측 0.0
userID   62 의
0번 index 캠핑장 예측 0.0
userID   63 의
0번 index 캠핑장 예측 0.0
userID   64 의
0번 index 캠핑장 예측 0.0
userID   65 의
0번 index 캠핑장 예측 0.40599206311194147
userID   66 의
0번 index 캠핑장 예측 0.1868729941845138
userID   67 의
0번 index 캠핑장 예측 0.0
userID   68 의
0번 index 캠핑장 예측 0.0
userID   69 의
0번 index 캠핑장 예측 0.0
userID   70 의
0번 index 캠핑장 예측 0.0
userID   71 의
0번 index 캠핑장 예측 0.0
userID   72 의
0번 index 캠핑장 예측 0.20299603155597074
userID   73 의
0번 index 캠핑장 예측 0.0
1
[array([  1, 155,  26, 179,  43, 118,  91, 160, 112, 188, 146, 131,   2,
        73,  32, 161, 150, 145,  82,  59])]
userID   1 의
1번 index 캠핑장 예측 0.19302427502406477
userID   2 의
1번 index 캠핑장 예측 0.0
userID   3 의
1번 index 캠핑장 예측 0.14418904284236445
userID   4 의
1번 index 캠핑장 예측 0.19302427502406477
userID   5 의
1번 index 캠핑장 예측 0.0
userID   6 의
1번 index 캠핑장 예측 1.4486154305376577
userID   7 의
1번 index 캠핑장 예측 0.0
userID   8 의
1번 index 캠핑장 예측 0.0
userID   9 의
1번 index 캠핑장 예측 0.0
userID   10 의
1번 index 캠핑장 예측 0.0
userID   11 의
1번 index 캠핑장 예측 0.2849910116516609
userID   12 의
1번 index 캠핑장 예측 0.33721331786642916
userID   13 의
1번 index 캠핑장 예측 0.0
userID   14 의
1번 index 캠핑장 예측 0.19302427502406477
userID   15 의
1번 index 캠핑장 예측 1.0194242738900028
userID   16 의
1번 index 캠핑장 예측 0.0
userID   17 의
1번 index 캠핑장 예측 0.14418904284236445
userID   18 의
1번 index 캠핑장 예측 0.33432785143582855
userID   19 의
1번 index 캠핑장 예측 0.19302427502406477
userID   20 의
1번 index 캠핑장 예측 0.19302427502406477
userID   21 의
1번 index 캠핑장 예측 0.0
userID   22 의
1번 index 캠핑장 예측 0.0
userID   23 의
1번 index 캠핑장 예측 0.0
userID   24 의
1번 index 캠핑장 예측 1.43839939279555
userID   25 의
1번 index 캠핑장 예측 0.13648877380313335
userID   26 의
1번 index 캠핑장 예측 0.0
userID   27 의
1번 index 캠핑장 예측 0.33432785143582855
userID   28 의
1번 index 캠핑장 예측 0.0
userID   29 의
1번 index 캠핑장 예측 0.0
userID   30 의
1번 index 캠핑장 예측 0.19302427502406477
userID   31 의
1번 index 캠핑장 예측 0.0
userID   32 의
1번 index 캠핑장 예측 0.0
userID   33 의
1번 index 캠핑장 예측 0.19302427502406477
userID   34 의
1번 index 캠핑장 예측 0.19302427502406477
userID   35 의
1번 index 캠핑장 예측 0.0
userID   36 의
1번 index 캠핑장 예측 0.14418904284236445
userID   37 의
1번 index 캠핑장 예측 0.33432785143582855
userID   38 의
1번 index 캠핑장 예측 0.0
userID   39 의
1번 index 캠핑장 예측 0.19302427502406477
userID   40 의
1번 index 캠핑장 예측 0.0
userID   41 의
1번 index 캠핑장 예측 0.14418904284236445
userID   42 의
1번 index 캠핑장 예측 0.38834758395388336
userID   43 의
1번 index 캠핑장 예측 0.0
userID   44 의
1번 index 캠핑장 예측 0.0
userID   45 의
1번 index 캠핑장 예측 0.0
userID   46 의
1번 index 캠핑장 예측 0.38834758395388336
userID   47 의
1번 index 캠핑장 예측 0.0
userID   48 의
1번 index 캠핑장 예측 0.0
userID   49 의
1번 index 캠핑장 예측 0.13648877380313335
userID   50 의
1번 index 캠핑장 예측 0.0
userID   51 의
1번 index 캠핑장 예측 0.0
userID   52 의
1번 index 캠핑장 예측 0.1344048533549486
userID   53 의
1번 index 캠핑장 예측 0.0
userID   54 의
1번 index 캠핑장 예측 0.0
userID   55 의
1번 index 캠핑장 예측 0.19302427502406477
userID   56 의
1번 index 캠핑장 예측 0.2795678857637259
userID   57 의
1번 index 캠핑장 예측 0.3777288555759642
userID   58 의
1번 index 캠핑장 예측 0.19302427502406477
userID   59 의
1번 index 캠핑장 예측 0.5813718589779481
userID   60 의
1번 index 캠핑장 예측 0.0
userID   61 의
1번 index 캠핑장 예측 0.0
userID   62 의
1번 index 캠핑장 예측 0.0
userID   63 의
1번 index 캠핑장 예측 0.0
userID   64 의
1번 index 캠핑장 예측 0.19302427502406477
userID   65 의
1번 index 캠핑장 예측 0.0
userID   66 의
1번 index 캠핑장 예측 0.19302427502406477
userID   67 의
1번 index 캠핑장 예측 0.0
userID   68 의
1번 index 캠핑장 예측 0.40265581030905745
userID   69 의
1번 index 캠핑장 예측 3.160005110988685
userID   70 의
1번 index 캠핑장 예측 0.0
userID   71 의
1번 index 캠핑장 예측 1.3887975355353748
userID   72 의
1번 index 캠핑장 예측 0.19302427502406477
userID   73 의
1번 index 캠핑장 예측 1.1711108952794085

In [70]:
# 사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트 반환하는 함수(위 함수와 동일)

def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)

    # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행. 
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items])) 
    return pred

In [71]:
# predict_rating_topsim() 함수를 이용해서
# - 예측 평점을 계산하고
# - 실제 평점과의 MSE 측정

import warnings
warnings.filterwarnings("ignore")

ratings_pred = predict_rating_topsim(ratings_matrix.values , item_sim_df.values, n=20)
print('아이템 기반 인접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))


# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)

586
586
아이템 기반 인접 TOP-20 이웃 MSE:  8.378378852114402

##### id가 id14752인 사용자가 준 캠핑장을 평점이 높은 순으로 나열

In [79]:
user_rating_id = ratings_matrix.loc['id14752',:]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

Name
리버뷰캠핑장         4.0
사계절오토캠핑장       4.0
스톤힐            4.0
지리산벚꽃카라반캠핑장    4.0
탑정호글램핑         4.0
판앤팜치유정원        4.0
Name: id14752, dtype: float64

# 아이템 기반 협업 필터링을 통해 영화를 추천

In [82]:
def get_ungone_campings(ratings_matrix, ID):
    # ID로 입력받은 사용자의 모든 캠핑장 정보를 추출해 Series로 반환
    # 반환된 user_rating은 캠핑장(Name)을 인덱스로 가지는 Series 객체임
    user_rating = ratings_matrix.loc[ID:]
    
    #user_rating이 0보다 크면 기존에 간 캠핑장임. 대상 인덱스를 추출해 list객체로 만듬
    already_gone = user_rating[user_rating>0].index.tolist()
    
    # 모든 캠핑장을 list객체로 만듦
    camping_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_gone에 해당하는 영화는 camping_list에서 제외함
    ungone_list = [ camping for camping in camping_list if camping not in already_gone]
    
    return ungone_list

In [83]:
get_ungone_campings(ratings_matrix, 'id14752')

['가람펜션',
 '가평명지산카라반글램핑',
 '강릉 노추산 힐링캠프',
 '경주 오아시스 글램핑',
 '경주힐링캠프',
 '곡성 키즈글램핑',
 '곡성청소년야영장',
 '굼벵이캠핑농원 오토캠핑장',
 '글램핑스토리',
 '글램핑앤카라반',
 '글램핑코리아 부여굿뜨래점',
 '금오도캠핑장',
 '김해가야테마파크 카라반 캠핑장',
 '꽃길글램핑',
 '꿈애오토캠핑장',
 '남이섬베스트카라반글램핑',
 '뉴욕카라반',
 '늘솔길캠핑장',
 '늘솔길캠핑촌',
 '늘예솔 글램핑',
 '늘푸른체험학교 글램핑오토캠핑장',
 '늘푸른캠핑장&글램핑',
 '다인캠핑장',
 '대성글램핑',
 '대천오토캠핑장',
 '대충캠핑장',
 '대풍바위 오토캠핑장',
 '대현캠핑장',
 '더반힐 글램핑',
 '땡땡이글램핑',
 '럭셔리 비토섬 J글램핑',
 '럭셔리 토리글램핑',
 '럭셔리글램핑 W 풀빌라',
 '럭셔리글램핑 캠핑소사이어티',
 '리버뷰캠핑장',
 '마검포힐링캠핑장',
 '만리포 미소카라반',
 '만리포글램핑',
 '만산동국민여가캠핑장',
 '맑은개울캠핑장',
 '메이플글램핑',
 '명돈골캠핑장',
 '모토라드캠핑장',
 '몬테리오글램핑',
 '문경 카라반파파',
 '문경수예리오토캠핑장',
 '미산가족오토캠핑장',
 '밀양 엄마랑놀자 키즈글램핑',
 '밀양알프스캠핑장',
 '밀양유원지오토캠핑장',
 '바다여행파크 캠핑장',
 '바람흔적글램핑카라반',
 '바인밸리',
 '백마강레저파크',
 '백사장사계절숲속캠핑장',
 '백운계곡 썬오브 글램핑카라반',
 '버드하우스캠핑장',
 '별다리글램핑캠핑장',
 '별숲글램핑',
 '병곡계곡 휴일엔펜션&오토캠핑장',
 '보라보라카라반 캠핑장',
 '보문카라반파크',
 '봉식이놀이터 글램핑',
 '봉화별',
 '부재산방 오토캠핑장',
 '북캠프',
 '불태산 글램핑',
 '블루마린 오토캠핑장',
 '비손농장',
 '사계절오토캠핑장',
 '사목공원캠핑장',
 '산내자연캠프',
 '산들바다펜션&글램핑',
 '산소파크 글램핑 청송오토캠핑장',
 '산여울캠핑장',
 '산중오토캠핑장',
 '산청 펫글램핑',
 '삼원레져타운캠핑장',
 '삼척엘림캠핑장',
 '상주우산오토캠핑장',
 '서대산드림캠핑파크&오토캠핑장',
 '선녀와나무꾼',
 '선라이즈 글램핑',
 '성주선바위캠핑장',
 '성주자연오토캠핑장',
 '속리산사나래캠핑장',
 '솔롱고글램핑',
 '솔바다카라반캠핑장',
 '솔바람캠핑장',
 '송도오토캠핑장',
 '수덕캠핑장',
 '수봉야영장',
 '수입리캠핑장',
 '숲들내자연놀이학교 글램핑',
 '숲속의 아침 오토캠핑장',
 '숲이조아 오토캠핑장(수영장)&펜션',
 '스카이글램핑',
 '스칸디캠프팜',
 '스타글램핑',
 '스톤힐',
 '승주CC글램핑',
 '신난다글램핑',
 '써니밸리오토캠핑장',
 '아롱별캠핑장',
 '아빠랑 놀자',
 '아빠의캠프',
 '아웃오브파크',
 '아잘리아그린',
 '아쿠아베이',
 '안면도 샛별글램핑&카라반펜션',
 '알프스밸리',
 '얼음골캠핑장',
 '에스글램핑',
 '에코힐글램핑',
 '영월별마로캠핑장',
 '영월스타글램핑',
 '영천 아우노 펠리스 글램핑',
 '옐로우힐글램핑',
 '오색허브농원 캠핑장',
 '오션포레',
 '오시유',
 '와이캠핑장',
 '용수그린랜드 글램핑',
 '우니메이카 고령점',
 '우니메이카 태안점',
 '운문사계절 카라반펜션오토캠핑장',
 '월드니스 오토캠핑장',
 '월성오토캠핑장',
 '유니의바다 카라반 구룡포점',
 '유힐캠핑파크',
 '은하수오토캠핑장',
 '이태백캠핑장',
 '인제연가리오토캠핑장&펜션',
 '임하호캠핑수상레저타운',
 '제이원빌리지',
 '제주플래티늄카라반',
 '주문진 글램핑 오토캠핑장',
 '지리산 자양보오토캠핑장',
 '지리산벚꽃카라반캠핑장',
 '천안무지개카라반캠핑장',
 '천지글램핑',
 '청광새들녘캠핑장',
 '청도 글램핑&오토캠핑장',
 '청도삼계리주말농원캠핑장',
 '청량산나무네숲캠핑',
 '청암산오토캠핑장',
 '청옥산깨비마을 카라반&오토캠핑장',
 '칠곡보오토캠핑장',
 '카라반에코빌리지',
 '캠누리오토캠핑장',
 '캠프1530',
 '캠프ing 오토캠핑장',
 '캠프안단테',
 '캠프에이프릴',
 '캠프통아일랜드',
 '캠프포레',
 '캠핑코리아',
 '캠핑홀릭 수영장 오토캠핑장',
 '코뿔소글램핑',
 '클럽아이리스',
 '클럽프라비다 카라반글램핑',
 '키즈팜 글램핑',
 '탑정호글램핑',
 '터닝포인트카라반캠핑',
 '텐타우스 카라반글램핑',
 '통영오토캠핑장',
 '통제영 오토캠핑장',
 '트로피칼드림카라반',
 '트윈스캠핑',
 '티앤글램핑',
 '파크오브드림',
 '판앤팜치유정원',
 '팔공산글램핑',
 '팜스토리 글램핑&오토캠핑장',
 '펫힐링 달빛동물원&오토캠핑장',
 '평암189캠핑장',
 '포안캠핑장',
 '푸른고래 카라반캠핑장',
 '프린세스캠프',
 '하늘숲글램핑',
 '하이락글램핑',
 '학암포 퍼스트 카라반',
 '한밤 솔담길 오토캠핑장',
 '함양용추오토캠핑장',
 '합천 라온 글램핑 캠핑장',
 '합천 은하수글램핑&카라반',
 '합천 해피캠핑장',
 '합천 휴테마파크 카라반글램핑',
 '합천H글램핑',
 '합천리컴펜글',
 '해마루오토캠핑장',
 '호두나무캠핑장',
 '홍성 세울터 오토캠핑장',
 '홍천고인돌오토캠핑장',
 '황매산미리내파크오토캠핑장',
 '횡성 온새미로 펜션&캠핑장',
 '힐링스토리 펜션&캠핑장',
 '힐링아일랜드 글램핑캠핑장',
 '힐포인트 키친']

# 'id14752'가 가지 않은 캠핑장 리스트를 반환

In [93]:
def recomm_caping_by_id(pred_df, ID, ungone_list, top_n=10):
    # 예측 평점 DataFrame에서 ID인덱스와 ungone_list로 들어온 캠핑장명 칼럼을 추출해 
    # 가장 예측 평점이 높은 순으로 정렬함
    recomm_campings = pred_df.loc[ID, ungone_list].sort_values(ascending=False)[:top_n]
    return recomm_campings
# 사용자가 가지 않은 캠핑장명 추출
ungone_list = get_ungone_campings(ratings_matrix, 'id14752')

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화추천
recomm_campings = recomm_caping_by_id(ratings_pred_matrix, 'id14752' , ungone_list, top_n=10)

In [97]:
# 아이템 기반의 최근접 이웃 협업 필터링으로 영화추천
recomm_campings = recomm_caping_by_id(ratings_pred_matrix, 'id14752' , ungone_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성 
recomm_campins = pd.DataFrame(data = recomm_campings.values, index = recomm_campings.index, 
                            columns = ['pred_score'])
recomm_campings

Name
판앤팜치유정원             2.716049
리버뷰캠핑장              0.969661
탑정호글램핑              0.936141
비손농장                0.792023
사계절오토캠핑장            0.706109
땡땡이글램핑              0.603370
합천 휴테마파크 카라반글램핑     0.566451
늘푸른체험학교 글램핑오토캠핑장    0.551366
스톤힐                 0.528670
지리산벚꽃카라반캠핑장         0.498896
Name: id14752, dtype: float64

In [98]:
recomm_campings

Name
판앤팜치유정원             2.716049
리버뷰캠핑장              0.969661
탑정호글램핑              0.936141
비손농장                0.792023
사계절오토캠핑장            0.706109
땡땡이글램핑              0.603370
합천 휴테마파크 카라반글램핑     0.566451
늘푸른체험학교 글램핑오토캠핑장    0.551366
스톤힐                 0.528670
지리산벚꽃카라반캠핑장         0.498896
Name: id14752, dtype: float64

In [150]:
id14752review=pd.DataFrame(user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10])

In [151]:
id14752review

             id14752
Name
리버뷰캠핑장           4.0
사계절오토캠핑장         4.0
스톤힐              4.0
지리산벚꽃카라반캠핑장      4.0
탑정호글램핑           4.0
판앤팜치유정원          4.0

In [152]:
id14752review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 리버뷰캠핑장 to 판앤팜치유정원
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id14752  6 non-null      float64
dtypes: float64(1)
memory usage: 96.0+ bytes

In [153]:
id14752reviews={0:'맛있게 삼겹살 구워서 먹기 좋네요',
1:'아이들과 함께 좋은시간 보냈습니다.',
2:'계곡에서 수영하며 꿀잼.',
3:'단풍이 예쁘게 들어서 좋았습니다',
4:'가을 날씨가 선선하니 별이 너무 예쁘네요',
5:'가족들과 보내기 좋은 깨끗한 글램핑 장이네요.'}

In [154]:
id14752reviews=['맛있게 삼겹살 구워서 먹기 좋네요',
'아이들과 함께 좋은시간 보냈습니다.',
'계곡에서 수영하며 꿀잼.',
'단풍이 예쁘게 들어서 좋았습니다',
'가을 날씨가 선선하니 별이 너무 예쁘네요',
'가족들과 보내기 좋은 깨끗한 글램핑 장이네요.']

In [155]:
pd.DataFrame(id14752reviews)

                           0
0         맛있게 삼겹살 구워서 먹기 좋네요
1        아이들과 함께 좋은시간 보냈습니다.
2              계곡에서 수영하며 꿀잼.
3          단풍이 예쁘게 들어서 좋았습니다
4     가을 날씨가 선선하니 별이 너무 예쁘네요
5  가족들과 보내기 좋은 깨끗한 글램핑 장이네요.

In [158]:
id14752review['review']=id14752reviews

In [159]:
id14752review

             id14752                     review
Name
리버뷰캠핑장           4.0         맛있게 삼겹살 구워서 먹기 좋네요
사계절오토캠핑장         4.0        아이들과 함께 좋은시간 보냈습니다.
스톤힐              4.0              계곡에서 수영하며 꿀잼.
지리산벚꽃카라반캠핑장      4.0          단풍이 예쁘게 들어서 좋았습니다
탑정호글램핑           4.0     가을 날씨가 선선하니 별이 너무 예쁘네요
판앤팜치유정원          4.0  가족들과 보내기 좋은 깨끗한 글램핑 장이네요.

# 텍스트 마이닝

In [57]:
reviews_df.dropna(inplace=True)

NameError: name 'reviews_df' is not defined

In [ ]:
reviews_df.reset_index(drop=True,inplace=True)

In [ ]:
reviews_df

In [ ]:
reviews_df['Review']

In [ ]:
import re
r = re.compile('ㅋ+') # ㅋ가 한번이상 1번이상 반복됨을 나타낸다.
r.findall('ㅋㅋㅋㅋ,ㅎㅎㅎ,ㅋㅎ') # ㅋ가 한번이상 1번이상 반복되는 단어를 찾아준다.

**숫자 문장부호 특수문자 제거**

자연어 처리에서 단어가 아닌것들은 분석할때 필요 없는 경우가 대부분이고, 분석가의 판단에 따라서 삭제시 분석 결과가 왜곡된다고 생각하면 남겨두기도 하지만 대부분은 삭제를 한다

In [ ]:
review_1=reviews_df["Review"][1]

In [ ]:
review_1

**위 리뷰에서 '5명'과 갔다는 것은 분석에 크게 의미를 부여하기 어려움으로 삭제한다.**

In [ ]:
p = re.compile('[0-9]+') # 문장에 섞인 숫자를 찾아주는 역할

In [ ]:
review_1_new = p.sub("",review_1)

In [ ]:
review_1_new

In [ ]:
print("숫자 제거 전:",review_1)
print("숫자 제거 후:",review_1_new)

**review 전체에 숫자제거 적용**

In [ ]:
p.sub("",reviews_df['Review'])

In [ ]:
for i in range(7912):
    reviews_df['Review'][i]=p.sub("",reviews_df['Review'][i])

In [ ]:
reviews_df

In [ ]:
review_13 = reviews_df['Review'][13]

In [ ]:
review_13 # 특수문자를 포함한 리뷰

**텍스트데이터에서는 많은 문장부호가 사용되며, 각 부호마다 고유한 문법적 혹은 의미론적인 기능이 있다. 마침표, 콤마, 물음표, 느낌표 등은 각기 고유한 의미를 갖거나 문장의 의미를 명확하게 하지만, 텍스트 마이닝 시에는 일반적으로 이러한 문장부호들을 삭제한다. 각각의 문장부호들은 각문장에서는 특수한 역할을 수행할 수 있지만, 전체 말뭉치 관점에서 보았을 때는 특정한 의미를 부여하기가 어렵다.**

In [ ]:
p = re.compile('\W+')

In [ ]:
review_13_new = p.sub(" ",review_13)

In [ ]:
review_13_new

In [ ]:
print("특수 문자 제거 전:",review_13)
print("특수 문자 제거 후:",review_13_new)

In [ ]:
for i in range(7912):
    reviews_df['Review'][i]=p.sub(" ",reviews_df['Review'][i])

In [ ]:
reviews_df.head(30)

**ㅎ, ㅋ 삭제**

In [ ]:
review_6 = reviews_df['Review'][6]

In [ ]:
review_6

In [ ]:
p = re.compile('ㅎ+')

In [ ]:
review_6_new = p.sub(" ",review_6)

In [ ]:
review_6_new

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df2 = pd.read_csv('./df/df2.csv')
df3 = pd.read_csv('./df/df3.csv')
df4 = pd.read_csv('./df/df4.csv')
df5 = pd.read_csv('./df/df5.csv')
df6 = pd.read_csv('./df/df6.csv')

In [ ]:
df = pd.concat([df2,df3,df4,df5,df6])

In [ ]:
df

In [ ]:
df['naver_map_url'].value_counts()