**append와 pop**

   - append : list의 맨 끝에 원소를 추가할때
    
   - pop() : list의 맨 끝에 있는 원소를 뺄때

In [60]:
# pop() - 리스트에서 맨 끝의 원소를 꺼낼때 
list1 = [] # 빈 리스트 
list1.append('a') # list1에 'a'를 넣는다.
list1

['a']

In [61]:
# list1에 1,2,3을 차례대로 넣어보자
list1.append(1)
list1.append(2)
list1.append(3)
list1

['a', 1, 2, 3]

In [62]:
# 맨 마지막 원소인 3을 꺼내보도록 하자
list1.pop()

3

In [63]:
list1 # list1.pop()후 결과

['a', 1, 2]

**N과 M(1)**

자연수 N과 M을 입력받아, 1에서 N까지 수를 이용하여 M개 수를 가지는 수열을 차례대로 출력하여라.
 - 입력예제
    4 2
    
    1 2
    
    1 3
    
    1 4
    
    2 3
    
    2 4
    
    3 4

In [65]:
n, m = input().split(',') # 입력 할때 콤마(',')에 의해서 입력한 수를 구분한다.

4,2

In [66]:
print(type(n),type(m)) # 입력 받은 두 정수의 자료형이 'str'임을 알 수 있다.

<class 'str'> <class 'str'>

In [67]:
a,b,c = input().split() # 뛰어 쓰기에 의해서 입력이 구분된다.

1 2 3

In [68]:
print(a,b,c)
print(type(a),type(b),type(c))

1 2 3
<class 'str'> <class 'str'> <class 'str'>

**입력받은 숫자가 문자형으로 변환되는 것을 알 수 있다. 이 자료형을 한번에 바꾸기 위해서 map이라는 내장 함수를 이용한다.**

In [73]:
n,m = list(map(int,input().split())) # 입력 받은 두 수를 정수로 변환해준다.

1 3

In [74]:
print(n,m)
print(type(n),type(m))

1 3
<class 'int'> <class 'int'>

**map함수를 이용하여, list의 원소에 1을 더하기**

In [80]:
def plus(x):
    
    return x+1

In [82]:
numbers = [1,2,3]
plus_one = list(map(plus,numbers))
print(plus_one)

[2, 3, 4]

**N과 M(7)**

N개의 모두 다른 자연수가 주어졌을때, M개의 자연수를 뽑아 수열 오름차순으로 정리하여라.

총 N*(N-1)*(N-2)*...*(N-M+1) 개 의 수열이 만들어지고 이 수열을 차레대로 출력하도록 하면 된다.

In [15]:

n,m = list(map(int,input().split())) 
series = list(map(int,input().split()))

s = [] # 수열을 생성할 리스트
def f():
    if len(s) == m: # 수열의 길이가 m이면 멈춘다.
        print(' '.join(map(str, s)))
        return

    for i in series:
        if i in s:
            if len(s)==0:
                continue
            elif i>s[-1]:
                continue
        s.append(i)
        f()
        s.pop()

f()

4 2
1 3 5 7
1 1
1 3
1 5
1 7
3 1
3 3
3 5
3 7
5 1
5 3
5 5
5 7
7 1
7 3
7 5
7 7

In [26]:
s = [1,2,3]
' '.join(map(str, s))

'1 2 3'

In [ ]:

n,m = list(map(int,input().split())) 

s = []#빈리스트를 만든다
s

# 가장 작은 원소인 1을 넣는다.
s.append(1)

s

# 그 다음으로 가장 작은 원소인 2를 넣는다.
s.append(2)
s

# 수열이 하나 완성이 되었으니 출력한다.
print(s)

# 그 다음 수열을 만들기 위해 원소 하나를 뺀다.
s.pop()
s

# 3을 넣는다.
s.append(3)
s

# s의 길이가 2 이므로 출력을 한다.
print(s)

# 전체적인 사이클은 
# 가장 작은 원소를 넣고 >> 그 다음으로 작은 원소를 넣고 >>... 길이가 m이 되었을때 출력을 하는 사이클을 반복한다.

print(n)
print(m)
print(s)

s.pop()
s.pop()

print(s)

s.append(1)
s.append(2)
print(s)

s.pop()

print(s)

s.append(3)

print(s)

s.pop()
s.append(4)
print(s)

s.pop()
s.pop()
s.append(2)
s.append(3)
print(s)

s.pop()

s.append(4)

print(s)

s.pop()
s.pop()
s.append(3)
s.append(4)

print(s)

**프로그래머스(가운데 글자 가져오기)**

In [49]:
def solution(s):
    if len(s)%2 == 0:
        answer = s[int(len(s)/2)-1:int(len(s)/2)+1]
    else:
        answer = s[int(len(s)-1)/2]
    return answer

In [16]:
s = []

In [17]:
s[-1]

IndexError: list index out of range